POSTGRES_DB=wechat_agent
POSTGRES_USER=wechat_agent
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_PORT=5432

MINIO_ROOT_USER=wechat_agent
MINIO_ROOT_PASSWORD=CHANGE_ME_TOO
MINIO_BUCKET=wechat-media
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

FALKORDB_PORT=6379
FALKORDB_UI_PORT=3001
